<!DOCTYPE html>
<html lang="ko" >
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <h3>매핑 확인</h3>
        <p>
            <a href="/example/exam01">문서확인[exam01.html 문서]</a>
        </p>

        <h3>form 예제</h3>
        <p>
            <a href="/example/form">폼예제[exam03.html, exam04.html 문서]</a>
        </p>

        <h3>thymeleaf 문법 연습</h3>
        <p>
            <a href="/example/test">thymeleaf 문법 연습[test.html, exam02.html 문서]</a>
        </p>

        <h3>데이터 전송</h3>
        <p>
            <a href="/example/exam05">데이터 확인</a>
        </p>

        <h3> Json으로 데이터 전송</h3>
        <p>
            <a href="/sample/getText">텍스트</a><br />
        </p>
        </body>
</html>